<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-va-oauth" version="0.0.1">

    <name>va-oauth</name>
    <description>A cordova plugin which supports OAuth authorization.</description>
    <author>via-at Developers</author>
    <keywords>va-oauth, OAuth</keywords>
    <license>MIT License</license>
    <repo>https://github.com/via-at/cordova-plugin-va-oauth.git</repo>

    <engines>
        <engine name="cordova-android" version=">5.0.0"/>
    </engines>

    <js-module src="www/GoogleOAuth.js" name="GoogleOAuth">
        <merges target="cordova.plugins" />
    </js-module>

    <js-module src="www/FacebookOAuth.js" name="FacebookOAuth">
        <merges target="cordova.plugins" />
    </js-module>

    <js-module src="www/TwitterOAuth.js" name="TwitterOAuth">
        <merges target="cordova.plugins" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GoogleOAuth">
                <param name="android-package" value="plugin.va.oauth.GoogleOAuth" />
            </feature>
            <feature name="FacebookOAuth">
                <param name="android-package" value="plugin.va.oauth.FacebookOAuth" />
            </feature>
            <feature name="TwitterOAuth">
                <param name="android-package" value="plugin.va.oauth.TwitterOAuth" />
            </feature>
        </config-file>

        <source-file src="src/android/VAOAuth.java" target-dir="src/plugin/va/oauth" />
        <source-file src="src/android/GoogleOAuth.java" target-dir="src/plugin/va/oauth" />
        <source-file src="src/android/FacebookOAuth.java" target-dir="src/plugin/va/oauth" />
        <source-file src="src/android/TwitterOAuth.java" target-dir="src/plugin/va/oauth" />

        <framework custom="true" src="src/android/build.gradle" type="gradleReference" />
    </platform>

    <platform name="ios">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="oauthManager">
                <param name="ios-package" value="OAuthManager" />
            </feature>
        </config-file>

        <source-file src="src/ios/OAuthManager.swift" />
    </platform>

</plugin>